{% extends 'base.html' %}

{% block body %}
    <h1>List of the most popular programming languages</h1>
    {% if admin %}
        <p>You are admin so here is the flag NYP{3srF_a11A3K}</p>
    {% endif %}
    <form>
        <label for="search">Search:</label>
        <input type="text" id="search" name="search">
        <button>Search!</button>
    </form>
    <div id="container">
        <div style="display: flex; align-items: center; justify-content: center; gap: 2rem; margin: auto;">
            <div style="width: 40%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <img src="{{ url_for('static', filename='js.png') }}" style="max-width: 100%; max-height: 100%;" />
                <h4>Javascript</h4>
            </div>
            <div style="width: 40%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <img src="{{ url_for('static', filename='python.webp') }}" style="max-width: 100%; max-height: 100%;" />
                <h4>Python</h4>
            </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: center; gap: 2rem; margin: auto;">
            <div style="width: 40%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <img src="{{ url_for('static', filename='ts.png') }}" style="max-width: 100%; max-height: 100%;" />
                <h4>Typescript</h4>
            </div>
            <div style="width: 40%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <img src="{{ url_for('static', filename='java.png') }}" style="max-width: 100%; max-height: 100%;" />
                <h4>Java</h4>
            </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: center; gap: 2rem; margin: auto;">
            <div style="width: 40%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <img src="{{ url_for('static', filename='c#.png') }}" style="max-width: 100%; max-height: 100%;" />
                <h4>C#</h4>
            </div>
            <div style="width: 40%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <img src="{{ url_for('static', filename='cpp.png') }}" style="max-width: 100%; max-height: 100%;" />
                <h4>C++</h4>
            </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: center; gap: 2rem; margin: auto;">
            <div style="width: 40%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <img src="{{ url_for('static', filename='c.png') }}" style="max-width: 100%; max-height: 100%;" />
                <h4>C</h4>
            </div>
            <div style="width: 40%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <img src="{{ url_for('static', filename='php.png') }}" style="max-width: 100%; max-height: 100%;" />
                <h4>PHP</h4>
            </div>
        </div>
    </div>
    <script>
        const languages = [
            ['Javascript', 'js.png'],
            ['Python', 'python.webp'],
            ['Typescript', 'ts.png'],
            ['Java', 'java.png'],
            ['C#', 'c#.png'],
            ['C++', 'cpp.png'],
            ['C', 'c.png'],
            ['PHP', 'php.png'],
        ];
        const params = new URLSearchParams(window.location.search);
        const search = params.get("search");

        if(search !== null) {
            let index = -1;
            for(let i=0; i<languages.length; ++i) {
                if(search.trim().toLowerCase() == languages[i][0].toLowerCase()) {
                    index = i;
                    break;
                }
            }
            let container = document.getElementById("container");
            let temp = document.createElement("p");
            temp.innerText = `Searching for ${search}:`;
            container.innerHTML = ""; // remove everything first
            container.appendChild(temp);
            if(index != -1) {
                let img = document.createElement("img");
                img.src = `/static/${languages[index][1]}`;
                img.style.maxWidth = "100%";
                img.style.maxHeight = "100%";
                let h4 = document.createElement("h4");
                h4.innerText = languages[index][0];

                let div1 = document.createElement("div");
                div1.style.width = "40%";
                div1.style.display = "flex";
                div1.style.flexDirection = "column";
                div1.style.justifyContent = "center";
                div1.style.alignItems = "center";
                div1.appendChild(img);
                div1.appendChild(h4);

                let div2 = document.createElement("div");
                div2.style.display = "flex";
                div2.style.justifyContent = "center";
                div2.style.alignItems = "center";
                div2.style.gap = "2rem";
                div2.style.margin = "auto";
                div2.appendChild(div1);

                container.appendChild(div2);
            }
            else {
                let temp = document.createElement("p");
                temp.innerText = "We found no results."
                container.appendChild(temp);
            }
        }
    </script>
{% endblock %}